* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #120a14;
  font-family: "Inter", sans-serif;
  color: #fff;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */
.header {
  margin-bottom: 10px;
  padding: 0 5px;
  background-image: url(img/criptoart.png);
  position: relative;
  background-position: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  align-items: center;
}
.logo__title {
  color: #ffffff;
  padding-left: 10px;
}
.logo {
  display: flex;
}
.menu {
  display: flex;
  gap: 24px;
  list-style: none;
}
.menu_link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
.menu_link:hover {
  color: #ff4060;
  transition: 0.5s;
}
.ikons_img {
  width: 18px;
  height: 18px;
}
.rgb-effect {
  position: absolute;
  top: 0;
  left: 0;
}
.rgbtwo {
  position: absolute;
  top: 0;
  right: 0;
}

.ikons_menu {
  display: flex;
  gap: 20px;
}
.header__main {
  margin-top: 65px;
  text-align: center;
}
.header__img {
  width: 36px;
  height: 67px;
}
.header__title {
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 65px;
  margin-top: 10px;
}
.header__scr {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.header__btn {
  color: #000;
  font-family: "Inter", sans-serif;
  padding: 19px 37px;
  width: 264px;
  height: 70px;
  border-radius: 60px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  border: none;
  background: var(
    --gradient-linear-primary,
    linear-gradient(270deg, #ff4060 4.08%, #ff81c5 50.76%, #6d5eea 93.7%)
  );
  margin-top: 30px;
}
.people__nft {
  margin-top: 30px;
  width: 971px;
  height: 375px;
}
.line___header {
  padding: 10px 16px;
  height: 82px;
  background-color: #ff4060;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.spline-right {
  position: absolute;
  right: 0;
  bottom: 250px;
}
.spline-left {
  position: absolute;
  left: 0;
  bottom: 250px;
}
.line_img {
  height: 62px;
}

/* main */
.textmain_wrap {
  display: flex;
  flex-direction: column;
  max-width: 730px;
  align-items: center;
  margin: 0 auto;
}
.main_title {
  margin-top: 120px;
  max-width: 800px;

  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.main_scr {
  margin-top: 13px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.blockimg {
  display: flex;
}
.block_info {
  margin-top: 81px;
  display: flex;
  justify-content: space-between;
}
.block_text {
  margin-top: 50px;
}
.block_text-one {
  margin-right: 100px;
}
.block_text-two {
}
.about {
  color: #ff4060;
  font-size: 24px;
  font-weight: 700;
  margin-top: 110px;
}
.title_info {
  font-size: 40px;
  font-weight: 700;
  margin-top: 14px;
}
.scr__info {
  max-width: 487px;
  margin-top: 14px;
}
.info_btn {
  margin-top: 24px;
  width: 225px;
  height: 70px;
  padding: 19px 37px;
  color: #fff;
  border-radius: 60px;
  background: #000;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(254, 137, 80, 1) 0%,
    rgba(220, 47, 80, 1) 50%,
    rgba(89, 3, 64, 1) 100%
  );
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.twoinfo_btn {
  background: linear-gradient(
    90deg,
    rgba(109, 94, 224, 1) 0%,
    rgba(188, 112, 208, 1) 50%,
    rgba(254, 64, 96, 1) 100%
  );
}

.container-lite {
  margin: 0 auto 120px auto;
  padding: 10px;
  width: 1166px;
}
.two {
  margin-left: 50px;
}
.twoimgnft {
  margin-left: 15px;
  background: linear-gradient(
    90deg,
    rgba(109, 94, 224, 1) 0%,
    rgba(188, 112, 208, 1) 50%,
    rgba(254, 64, 96, 1) 100%
  );
  border-radius: 22px;
}

/* line-section */

.line-img {
  width: 100%;

  height: 190px;
}

/* nft-list */
.nft-list {
  border-bottom: 1px solid blueviolet;
}
.nav-nft {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.twonnftikons {
  margin-right: 10px;
}
.img-nft-ikons {
  padding: 0 0 0 10px;
}
.nft-about {
  color: #ff4060;
  font-size: 24px;
  font-weight: 700;
}
.nft-scr {
  font-size: 40px;
  font-weight: 700;
}
.nft_list_block {
  display: flex;
}
.nft-block_one {
  width: 220px;
  height: 330px;
  border: 1px solid #6d5ee0;

  border-radius: 22px;
  padding: 24px 20px;
}
.nft-block_title {
  display: flex;
  gap: 4px;
}
.letter {
}
.ikons-text-block {
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
}
.imgnftikons {
  text-align: center;
}
.nft_list_block {
  margin: 40px 0;
  gap: 32px;
}
.nft-one-img {
  margin: 18px 0;
  background: linear-gradient(
    90deg,
    rgba(242, 166, 0, 1) 0%,
    rgba(237, 194, 18, 1) 49%,
    rgba(255, 235, 0, 1) 81%
  );
  width: 215px;
  height: 215px;
  border-radius: 15px;
}
.scr-block-nft {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.price-text {
  color: #cdfe02;
}
.time-scr,
.price-scr {
  color: #575757;
  font-size: 14px;
  font-weight: 400;
}
.time-text {
  font-size: 16px;
  font-weight: 400;
}
.twonftimg {
  background: linear-gradient(
    90deg,
    rgba(207, 0, 242, 1) 0%,
    rgba(205, 18, 237, 1) 36%,
    rgba(255, 0, 245, 1) 97%
  );
  margin-right: 10px;
}
.freenftimg {
  background: linear-gradient(
    90deg,
    rgba(0, 29, 242, 1) 0%,
    rgba(18, 81, 237, 1) 35%,
    rgba(16, 125, 255, 1) 97%
  );
}
.foreftimg {
  background: linear-gradient(
    90deg,
    rgba(24, 208, 219, 1) 0%,
    rgba(17, 195, 196, 1) 35%,
    rgba(16, 250, 255, 1) 97%
  );
}
.twonft-block {
  border: 1px solid #b46ed7;
}
.freenft-block {
  border: 1px solid #ff6ca5;
}
.fornft-block {
  border: 1px solid #fe4060;
}
.nftimg_infoone {
  background: linear-gradient(
    90deg,
    rgba(254, 137, 80, 1) 0%,
    rgba(220, 47, 80, 1) 50%,
    rgba(89, 3, 64, 1) 100%
  );
  border-radius: 22px;
  margin-right: 20px;
  position: relative;
}

/* faq */
.faq {
  margin-top: 100px;
  display: flex;
  text-align: center;
}
.faq_block {
  margin-top: 16px;
  width: 732px;
  height: 72px;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #b46ed7;
  border-radius: 10px;
}
.mainfaq_block {
  margin-top: 46px;
}
.plus {
  width: 32px;
  height: 32px;
}
.title_faq {
  color: #ff4262;
  font-size: 30px;
}
.scr_faq {
  font-size: 40px;
}
/* community */
.community {
  display: flex;

  text-align: center;
  margin-top: 111px;
}
.community_title {
  font-size: 40px;
  font-weight: 700;
}
.community_scr {
  font-size: 16px;
  max-width: 364px;
  height: 72px;
  margin-top: 10px;
}
.block_scr {
  display: flex;
  justify-content: center;
}
.community_nft {
  margin-top: 40px;
}
.block_btn_community_link {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.discord {
  background-color: #5765f2;
  display: flex;
  width: 260px;
  height: 68px;
  padding: 24px 40px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 60px;
  align-items: center;
  border: 1px solid #5765f2;
  gap: 10px;
  color: #fff;
  justify-content: center;
}
.discord:hover {
  background-color: #4751be;
  transition: 0.5s;
}
.discord_img {
  width: 20px;
  height: 20px;
}
.discord_link {
  text-decoration: none;
}
.twitter {
  background-color: #36b9ff;
  display: flex;
  width: 260px;
  height: 68px;
  padding: 24px 40px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 60px;
  align-items: center;
  border: 1px solid #36b9ff;
  gap: 10px;
  color: #fff;
}
.twitter:hover {
  background-color: #369bd1;
  transition: 0.5s;
}
.twitter_link {
  text-decoration: none;
}
/* foother */
.foother {
  margin-top: 100px;
  background-color: #120a14;
  width: 100%;
  height: 148px;
  padding: 56px 0 0 0;
  border-top: 1px solid #fe4060;
}
.foother_text_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scr_foother {
  text-align: center;
  margin-top: 23px;
}
